// Colors
$color-white-smoke: #F2F2F2;
$color-white: #FFFFFF;
$color-st-tropaz: #2F527B;
$color-lightning-yellow: #F9A826;
$color-slate-blue: #6066d0;
$color-light-coral: #EA8282;
$color-silver-tree: #60BF88;
$color-catalina-blue: #1D355D;

// media queries
$mq-mobile: 500px;
$mq-tablet: 768px;
$mq-desktop: 1440px;